* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Courgette", cursive;
  background-color: #909294;
  width: 100%;
}

.firstpage {
  color: rgb(248, 245, 245);
  background-color: rgb(12, 12, 12);
  box-shadow: 1px 3px 10px rgb(49, 49, 49);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.logo {
  font-family: verdana;
  font-weight: 900;
  text-decoration: line-through;
  padding: 20px 40px;
}
.logo:hover {
  color: #f54009;
  cursor: pointer;
}
#menu-bar {
  display: none;
}
.firstpage label {
  font-family: verdana;
  font-size: 15px;
  font-weight: 700;
  color: #faf7f7;
  background: #f54009;
  display: none;
  padding: 7px 10px;
  margin-right: 50px;
  border: 1px solid #f54009;
  border-radius: 5px;
}

.nav-bar {
  padding: 20px 40px;
}
ul {
  list-style: none;
  padding: 0;
  margin-right: 20px;
}
li {
  display: inline-block;
  padding: 0 10px;
  font-size: large;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: rgb(250, 245, 245);
  height: 20px;
}

a:hover {
  color: #f54009;
  padding-bottom: 20px;
  border-bottom: 3px solid #c43d08;
}
.first-page {
  width: 100%;
  padding-top: 70px;
  text-align: center;
  background-color: #111111;
}

img {
  display: block;
  border-radius: 4px;
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
}
.display {
  text-align: center;
  background: #000000;
  /* background-image: url(images/bg-two.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-blend-mode: multiply;
  padding: 40px 0;
  transition: all 1s ease;
}
.display h1 {
  font-size: 45px;
  color: #ffffff;
  width: fit-content;
  margin: 30px auto 50px;
  border-bottom: 3px solid #f54009;
}

.page {
  padding: 30px 0;
  text-align: center;
  width: 600px;
  color: #ffffff;
  margin: 9px 15px;
  display: inline-block;
}

.page p {
  font-family: "Cormorant", serif;
  font-weight: lighter;
  font-size: 20px;
  line-height: 25px;
  padding: 20px 0;
  margin-bottom: 30px;
}

.page button {
  display: inline;
  padding: 15px 20px;
  margin: 20px;
  background-color: #f54009;
  border-radius: 50px;
}
.page button:hover {
  background: #ffffff;
  cursor: pointer;
}
.cell {
  font-family: helvetica;
  font-size: 20px;
  width: 300px;
  display: inline-block;
  margin: 0 20px;
}

.spec {
  padding: 20px 5px;
  color: #ffffff;
  margin-top: 10px;
}
.spec h1 {
  width: fit-content;
  margin: 50px auto;
  border-bottom: 3px solid #f54009;
}
.spec .fa {
  padding: 10px 0;
  font-size: 20px;
  color: #f54009;
}
.spec li {
  font-weight: 500;
  font-size: smaller;
}
.spec .cell {
  color: #fcfbfb;
  padding: 20px;
  margin: 10px;
  background: #252525;
  border-radius: 5px;
}

button {
  color: #ffffff;
  clear: both;
  display: block;
  margin-top: 35px;
  margin-bottom: 45px;
  padding: 10px;
  font-family: Georgia;
  font-size: 20px;
  font-weight: 900px;
  background-color: inherit;
  border: none;
  border-bottom: 3px solid #f54009;
  transition: all 0.3s ease-in-out;
}
button:hover {
  color: #f54009;
  font-weight: 700;
  border-bottom: 3px solid #f54009;
}
.spec button {
  margin: 20px auto 50px;
}

.reviews {
  background: #ffffff;
  padding: 20px 5px;
  color: #000000;
  margin-top: 10px;
}
.reviews h1 {
  width: fit-content;
  margin: 50px auto;
  border-bottom: 3px solid #f54009;
}
.reviews .fa {
  color: #000000;
  margin-top: 20px;
}
.reviews p {
  padding: 20px 0;
  font-size: smaller;
}
.reviews .cell {
  font-size: 20px;
  font-weight: 200;
  font-family: sans-serif;
  color: #fcfbfb;
  padding: 20px;
  margin: 10px;
  background: #f54009;
  border-radius: 5px;
}

.reviews button {
  color: #000000;
  margin: 20px auto 50px;
}
.contact {
  background: #242424;
  text-align: center;
  padding: 20px 0;
}
#cont {
  color: #ffffff;
  width: fit-content;
  margin: 20px auto 40px;
  border-bottom: 3px solid #f54009;
}
.contact .cont {
  color: rgb(10, 10, 10);
  background: #d1cece;
  margin: 20px auto;
  padding: 30px 10px;
  border-radius: 4px;
  width: 400px;
}

input {
  padding: 5px;
  margin: 15px auto;
  display: block;
  background: inherit;
  border: none;
  border-bottom: 2px solid black;
}

textarea {
  margin-top: 5px;
  resize: none;
  border: none;
  text-align: center;
  color: #000000;
}

.butt {
  font-size: 15px;
  font-weight: 700;
  border: 2px solid black;
  padding: 7px 20px;
  margin-top: 25px;
}

.butt:hover {
  background: #000000;
  color: #ffffff;
  cursor: pointer;
}

.sns {
  padding: 20px 5px;
  margin-top: 30px;
}
.contact .fa {
  padding: 0 10px;
  font-size: 20px;
}
.contact .fa:hover {
  color: #f54009;
  cursor: pointer;
}
footer {
  color: #ffffff;
  padding: 70px 0;
  background: #000000;
}
footer {
  padding: 40px 0 40px 0;
}
small {
  color: #808080;
  font-family: helvetica;
  font-weight: 700;
}

@media (max-width: 425px) {
  .page {
    width: 300px;
  }
}
@media (max-width: 648px) {
  .page h1 {
    font-size: 30px;
  }
  .page {
    width: 300px;
  }
  .page button {
    font-size: 15px;
    display: inline;
    padding: 15px 18px;
    margin: 10px;
    background-color: #f54009;
    border-radius: 50px;
  }
}
@media (max-width: 768px) {
  .firstpage label {
    display: initial;
  }
  .firstpage .nav-bar {
    position: absolute;
    top: 100%;
    right: 0;
    background: #141414;
    border-top: 1px solid black;
    display: none;
  }
  .firstpage .nav-bar ul {
    margin-top: -10px;
    text-align: right;
  }
  .firstpage .nav-bar ul li {
    font-family: verdana;
    font-weight: 500;
    font-size: 13px;
    padding: 4px 0;
    width: 100%;
    font-size: 15px;
  }
  .firstpage .nav-bar ul li a:hover {
    padding-bottom: 2px;
  }
  #menu-bar:checked ~ .nav-bar {
    display: initial;
  }
  label:hover {
    cursor: pointer;
  }
  .spec .cell {
    display: block;
    margin: 10px auto;
  }
}
@media (max-width: 1024px) {
}
@media (max-width: 1200px) {
  .spec .cell {
    width: 250px;
    font-size: 15px;
  }
  .reviews .cell {
    width: 250px;
    font-size: 15px;
  }
}
@media (max-width: 1536px) {
}
